{% extends 'Admin/Common/base.html.twig' %}

{% block content %}
<main>
    <h1>Les livres</h1>

    <section class="search">
        <h3>Rechercher un livre avec un mot dans le résumé :</h3>
        <form name="search" action="{{ path('admin_search_book') }}" method="get">
            <input type="search" name="search" />
            <input type="submit" value="Rechercher" />
        </form>
    </section>

    <section class="sectionbookslist xLarge-12">
        {% for book in books %}
            <div class="bookslist xLarge-5">
                <h2><a href="{{ path('admin_book', {'id':book.id}) }}">{{ book.title }}</a></h2>
                {% if book.author %}
                    <p class="author"> - {{ book.author.firstname }} {{ book.author.name }}</p>
                {% endif %}
                <div>
                    <a class="update" href="{{ path('admin_update_book', {'id':book.id})  }}">Modifier</a>
                    <a class="delete" href="{{ path('admin_delete_book', {'id':book.id})  }}">Supprimer</a>
                </div>
            </div>
        {% endfor %}
    </section>
</main>


{% endblock %}