<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/adminStyle.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/variables.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="body">

    <h1 class="bluebackground">Menu Admin</h1>

    <main class="displayflex">
        <div class="menu">
            <h3 class="dashboardacontent dashboardhome"><a href="{{ path('admin_dashboard') }}">Accueil</a></h3>
            <div>
                <h3 class="dashboardcontent">Livres : </h3>
                <ul>
                    <li class="dashboardbooks"><a href="{{ path('admin_books') }}" >Afficher</a></li>
                    <li class="dashboardbooks"><a href="{{ path('admin_book_insert') }}" >Ajouter</a></li>
                </ul>
            </div>
            <div>
                <h3 class="dashboardcontent">Auteurs : </h3>
                <ul>
                    <li class="dashboardauthors"><a href="{{ path('admin_authors') }}" >Afficher</a></li>
                    <li class="dashboardbooks"><a href="{{ path('admin_authors_insert') }}" >Ajouter</a></li>
                </ul>
            </div>
            <div>
                <h3 class="dashboardcontent">Utilisateurs :</h3>
                <ul>
                    <li class="dashboardusers">Afficher</li>
                    <li class="dashboardusers">Ajouter</li>
                </ul>
            </div>
        </div>

        <div class="divcontent">
            {% block content %}
            {% endblock %}

        </div>
    </main>


    </body>
</html>
