{% extends 'Front/Common/base.html.twig' %}

{% block title %}
    Les livres
{% endblock %}

{% block body %}
<main>
    <h1>Les livres</h1>

    <section class="search">
        <h3>Rechercher un livre avec un mot dans le résumé :</h3>
        <form name="search" action="{{ path('search_book') }}" method="get">
            <input type="search" name="search" />
            <input type="submit" value="Rechercher" />
        </form>
    </section>

    <section class="sectionbookslist xLarge-12">
        {% for book in books %}
            <div class="bookslist xLarge-5">
                <h2><a href="{{ path('book', {'id':book.id}) }}">{{ book.title }}</a></h2>
                <p class="resume">{{ book.resume }}</p>
                {% if(book.author) %}
                <p class="author"> - {{ book.author.firstname }} {{ book.author.name }}</p>
                {% endif %}
                <p class="nbPages">Nombre de pages : {{ book.nbPages }}</p>
            </div>
        {% endfor %}
    </section>
</main>

{% endblock %}